html {
    font-size: 14px;
}

.blog-masthead {
    background-color : #b34848;
}

.blog-title {
    color: #b34848;
}

.blog-post-title a {
   color :  #b34848;
}

.blog-post-title a:hover{
    text-decoration: underline;
    color: #b34848;
}

.row {
    display: flex !important;
}
.blog-post {
   width: 70%;
}

.hidden {
    display: none;
}

.red-listing {
    color: #b34848;
}