* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}
html {
    font-size: 14px;
}

.blog-masthead {
    background-color : #b34848;
}

.blog-title {
    color: #b34848;
}

.blog-post-title a {
   color :  #b34848;
}

.blog-post-title a:hover{
    text-decoration: underline;
    color: #b34848;
}

.row {
    display: flex !important;
}
.blog-post {
   width: 70%;
}

.hidden {
    display: none;
}

.red-listing {
    color: #b34848;
}

.list-unstyled {
    display:block;
    color: #b34848;
}

.author {
    margin: 0.5rem, 0rem, 0.5rem, 0rem;
}

.textarea {
    margin-top: 0.5rem;
}